<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Kadai Thymeleaf</title>
</head>
<body>
    <h1 th:text="#{title}"></h1>
    <h2 th:text="#{input.title}"></h2>

    <p th:text="#{input.message}"></p>
    <p th:if="${previous != null}" th:text="#{input.previous(${previous})}"></p>
    <form method="post" th:action="@{/output}">
        <input type="text" name="val">
        <button type="submit" th:text="#{button.submit}"></button>
    </form>
</body>
</html>